{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/upload.css' %}">
    <script src="{% static 'js/upload.js' %}"></script>
    <title>Animal Prediction</title>
</head>

<body>
    <form method="post" class="file-uploader" action="" enctype="multipart/form-data">{% csrf_token %}
        <div class="file-uploader__message-area">
            <p>Select a file to upload</p>
        </div>
        <div class="file-chooser">
            <input class="file-chooser__input" type="file" accept="image/*" name="photo">
        </div>
        <input class="file-uploader__submit-button" type="submit" value="Predict">
    </form>
</body>

</html>